.a1{
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

a.a1:link { color:#004ea6;text-decoration:underline; } 
a.a1:visited { color:#004ea6;text-decoration:underline; } 
a.a1:hover { color:#004ea6; text-decoration:underline; background-color:#D4F5BF }

.a2{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

a.a2:link { color:#ffffff; text-decoration:none; } 
a.a2:visited { color:#ffffff;text-decoration:none; } 
a.a2:hover { color:#004ea6; text-decoration:none; }

.a3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
a.a3:link { color:#9D080D; text-decoration:none; } 
a.a3:visited { color:#9D080D;text-decoration:none; } 
a.a3:hover { color:#9D080D; text-decoration:underline; }


.a4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004ea6;
}
a.a4:link { color:#004ea6; text-decoration:none; } 
a.a4:visited { color:#004ea6;text-decoration:none; } 
a.a4:hover { color:#004ea6; text-decoration:none; background-color:#D4F5BF;}


.a5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

a.a5:link { color:#F7941C; text-decoration:none; } 
a.a5:visited { color:#F7941C;text-decoration:none; } 
a.a5:hover { color:#F7941C; text-decoration:underline; }

.a6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

a.a6:link { color:#004ea6; text-decoration:none; } 
a.a6:visited { color:#004ea6;text-decoration:none; } 
a.a6:hover { color:#004ea6; text-decoration:none;background-color:#D4F5BF; }


.a7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F7941C;
	text-decoration:underline;
}

a.a7:link { color:#F7941C; } 
a.a7:visited { color:#F7941C; } 
a.a7:hover { color:#F7941C; background-color:#D4F5BF; }


.a8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #004ea6;
}

a.a8:link { color:#004ea6; } 
a.a8:visited { color:#004ea6; } 
a.a8:hover { color:#028EC3;}


.a9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a.a9:link { color:#4d4d4d; text-decoration:none; } 
a.a9:visited { color:#4d4d4d;text-decoration:none; } 
a.a9:hover { color:#004ea6; text-decoration:underline;}

.a10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a.a10:link { color:#F7941C; text-decoration:none; } 
a.a10:visited { color:#F7941C;text-decoration:none; } 
a.a10:hover { color:#004ea6; text-decoration:underline;}

.a11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#52930A;
}


a.a11:link { color:#52930A; text-decoration:none; } 
a.a11:visited { color:#52930A;text-decoration:none; } 
a.a11:hover { color:#82BA28; text-decoration:underline;}

.a12 {
	font-size: 12px;
}


a.a12:link { color:#4d4d4d; text-decoration:none; } 
a.a12:visited { color:#4d4d4d;text-decoration:none; } 
a.a12:hover { color:#4d4d4d; text-decoration:none; background-color:#D4F5BF; }

.a13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a.a13:link { color:#004ea6; } 
a.a13:visited { color:#004ea6;} 
a.a13:hover { color:#004ea6;background-color:#D4F5BF; }


.a14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

a.a14:link { color:#004ea6; } 
a.a14:visited { color:#004ea6;} 
a.a14:hover { color:#004ea6;background-color:#D4F5BF; }

a.doorway:link { color:#004ea6; font-size:13px; padding:2px; text-decoration:none; } 
a.doorway:visited { color:#004ea6; font-size:13px; padding:2px; text-decoration:none;} 
a.doorway:hover { color:#ffffff; background-color:#004ea6;font-size:13px;padding:2px; text-decoration:none;}

a.transporter:link { color:#004ea6; font-size:13px; padding:2px; text-decoration:none; } 
a.transporter:visited { color:#004ea6; font-size:13px; padding:2px; text-decoration:none;} 
a.transporter:hover { color:#ffffff; background-color:#004ea6;font-size:13px;padding:2px; text-decoration:none;}

.a15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
a.a15:link { color:#004ea6; text-decoration:none; } 
a.a15:visited { color:#004ea6;text-decoration:none; } 
a.a15:hover { color:#ff0000; text-decoration:underline; }


.a16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #d90700;
	text-decoration:none; 
}

a.a16:link { color:#d90700; text-decoration:none; } 
a.a16:visited { color:#d90700;text-decoration:none; } 
a.a16:hover {
	color:#d90700;
	text-decoration:underline;
}

.a17 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #004ea6;
	text-decoration:none; 
}

a.a17:link { color:#004ea6; text-decoration:none; } 
a.a17:visited { color:#004ea6;text-decoration:none; } 
a.a17:hover { color:#d90700; text-decoration:underline; }


.search_suggest_content a{
	font-family:Arial, Helvetica, sans-serif;
	color:#004ea6;
	text-decoration:none;
	font-size:13px; 
	
}


.a18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0090D9;
	text-decoration:underline;
	font-weight:bold;
}

a.a18:hover { color:#d90700; text-decoration:underline; }

.a20 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	color: #E54C00;
}

a.a20:hover { color:#d90700; text-decoration:underline; }

.a21 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004ea6;
}
.a22 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F25100;
	font-weight: bold;
	text-decoration:underline;
}

a.a22:hover { color:#d90700; text-decoration:underline; }

.a23 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0090D9;
}
a.a23:hover { color:#d90700; text-decoration:underline; }

.a24 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #0066cc;
}

a.a24:hover { color:#d90700; text-decoration:underline; }
.gotop {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
.a25 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0066CC;
	text-decoration:none
}
a.a25:hover { color:#d90700; text-decoration:underline; }

.a26 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0090D9;
	text-decoration:none;
}
a.a26:hover { color:#d90700; text-decoration:underline; }
.a27 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #F99A18;
}
a.a27:hover { color:#d90700; text-decoration:underline; }
.a28 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F99A18;
}
a.a28:hover { color:#d90700; }

.a29 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F99A18;
	text-decoration:none;
}
a.a29:hover { color:#d90700; }
.a30 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #004ea6;
}

a.a30:hover { color:#d90700; }


.cmmcobody a {
	font-family: Arial, Helvetica, sans-serif;
	color:#004ea6;
}
.cmmcobody a:hover { color:#d90700; }

.a31 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #004ea6;
}
a.a31:hover { color:#d90700; }

.a32{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4d4d4d;
	text-decoration: none;

}
.a33:hover { color:#d90700; }.a33 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
a.a33:hover { color:#004ea6; }

.a34 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration:underline;
	font-weight:bold;
}

a.a34:hover { color:#004ea6; text-decoration:underline; }

.a35 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color:#0074B3;
}
a.a35:hover { color:#004ea6; }
.a36 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #808080;
	text-decoration:none;
}
a.a36:hover { color:#004ea6; }
.a37 {
	font-family: Arial, Helvetica, sans-serif;
	color: #0066BF;
	text-decoration:none;
}
a.a37:hover { color:#FF0000 ; text-decoration:underline }

.CopyRight a { color:#808080; }
.CopyRight a:hover { color:#0066BF; }

.a38 {
	color: #0066BF;
	text-decoration: underline;
}
a.a38:hover { color:#FF0000 ; }

.a39 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5500;
	text-decoration: underline;
}
a.a39:hover { color:#0066BF ; }

.a40 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a.a40:hover { color:#0066BF ; text-decoration: underline; }

.a41 {
	color: #FF5500;
	text-decoration:none;
}
a.a41:hover { color:#0066BF ; text-decoration: underline; }


.a42 {
	font-family: Arial, Helvetica, sans-serif;
	color: #0090D9;
	text-decoration:underline;
}

a.a42:hover { color:#d90700; text-decoration:underline; }
