/* 遊記-加點旅行箱 */
.trunk_block {
  z-index: 1200;
  background-image: url(/images/v2/tour/trunk_bg.png);
  position: fixed;
  width: 106px;
  height: 90px;
  bottom: 0;
  right: 10px;
  font-size: 13px;
  line-height: 18px;
  padding: 28px 12px 0 12px;
}

.tu_title {
  color: #F00;
  text-align: center;
  font-weight: bold;
}

.trunk_info {
  font-size: 12px;
  line-height: 18px;
  padding-left: 5px;
  color: #6a3906;
  word-wrap: break-word;
  word-break: break-all;
}

.show_all {
  font-size: 12px;
  float: right;
  margin-right: 2px;
  display: block;
  background-color: #fff9ea;
  border: 1px solid #FC0;
  padding: 0 2px;
}

.trunk_block2 {
  z-index: 1200;
  background-image: url(/images/v2/tour/trunk_bg2.png);
  width: 210px;
  height: 170px;
  font-size: 13px;
  line-height: 18px;
  position: fixed;
  bottom: 0;
  right: 10px;
  padding: 58px 18px 0 18px;
}

.tu_point {
  padding: 0 4px;
  margin-top: 3px;
  text-align: center;
}

.tu_point a {
  display: inline-block;
  margin: 0 3px;
  font-size: 12px;
}

.tu_links {
  margin: 5px 0 0 45px;
  width: 115px;
  text-align: center;
  float: left;
}

.tu_links a {
  display: inline-block;
  margin: 0 1px;
}

/* 加入行程-遊記(步驟三) */
.tour_join {
  width: 550px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  font-family: Verdana, Geneva, sans-serif;
}

.tour_join2 {
  width: 550px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  font-family: Verdana, Geneva, sans-serif;
  position: absolute;
  background-color: #FFF;
  z-index: 10;
}

.t_content2 {
  padding: 20px;
  height: 600px;
}

.join_list {
  padding: 0 10px;
}

.tour_name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  display: inline-block;
  width: 395px;
}

.t_field2, .t_field3 {
  font-size: 13px;
  line-height: 20px;
  color: #333;
}

.t_field2 li {
  margin-bottom: 6px;
}

.join_item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #dedede;
  font-size: 13px;
}

.t_page {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
}

.comment_order, .comment_order a {
  font-size: 13px;
  color: #666;
  font-weight: normal;
  margin-top: 8px;
}

/* 編輯視窗 */
.edit_layer {
  width: 360px;
  position: absolute;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #FFF;
  z-index: 10;
}

.e_top {
  background-image: url(/images/v2/tour/edit_top.gif);
  height: 10px;
}

.e_bg {
  background-image: url(/images/v2/tour/edit_bg.gif);
  background-repeat: repeat-y;
  text-align: center;
  color: #666;
  line-height: 20px;
  font-size: 13px;
  padding: 25px 20px;
}

.e_btm {
  background-image: url(/images/v2/tour/edit_btm.gif);
  height: 10px;
}

.t_name {
  font-size: 15px;
}

.edit_txt {
  margin-bottom: 25px;
}

.edit_btns {
  text-align: center;
}

/* tour-frame */
.step_note {
  overflow: hidden;
  font-size: 28px;
  font-weight: bold;
  padding: 0 10px 20px 10px;
  border-bottom: 2px solid #b0dc54;
  margin: 0 0 20px 0;
}

.added_item, .s_title, .stroke_item, .t_ad {
  margin-bottom: 15px;
}

.j_day {
  margin-bottom: 12px;
  overflow: hidden;
}

.travel_route {
  padding: 0 8px;
}

.f_left, .jc_right {
  float: left;
}

.s_infor {
  color: #666;
}

.btn_block {
  text-align: center;
  margin-top: 20px;
}

.green {
  color: #7dae28;
}

.tour {
  padding: 5px 0;
  font-family: Verdana, Geneva, sans-serif;
}

.btn_right, .f_right {
  float: right;
}

/* 展開全部行程頁 */
.tour_all {
  width: 715px;
  height: 570px;
  padding: 20px;
  font-family: Verdana, Geneva, sans-serif;
  position: absolute;
  background-color: #FFF;
  z-index: 10;
}

.tour_map {
  width: 360px;
  height: 300px;
  border: 1px #CCC solid;
}

.full_right {
  float: right;
  width: 305px;
  font-size: 13px;
  line-height: 20px;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.day_block {
  margin-bottom: 20px;
}
